* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer {
    padding: 5%;
    background-color: lightblue;
}

section {
    padding: 5%;
}

img {
    max-width: 100%;
   /* border: 1px solid orange;*/
    display: block;
  }
  
  [class*=col-] {
    padding: 0;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  div {
    /*border: 2px solid grey;*/
  }
  
  /* Utility Classes */
  
  .padded   { padding: 5%;}
  .padded-1 { padding: 1rem;}
  .padded-05 { padding: 0.5rem;}
  
  .center {
    text-align: center;
  }
  
  .bg-yellow { background-color: #f9ba4e; }
  .bg-blue { background-color: #c6e1e8; }
  .bg-rust { background-color: #c86757; }
  .bg-light { background-color: white; }
  
  .light-text { color: white; }
  
  .bg-image {
    background-color: lightblue;
    background-image: url('http://source.unsplash.com/NBsQ_qnVKAY');
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    padding-bottom: 50%;
    color: white;
  }
  
  /*  Universal Styles */
  h2,h3,h4,h5,h6 {
    line-height: 1.1;
    margin-bottom: 0.8rem;
  }
  
  p {
    line-height: 1.2;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }
  
  a {
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  /*  Card Styles */
  .card {
    padding-top: 1.5rem;
    color: white;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }
  
  .card h3 {
    font-size: 1.8rem;
  }
  
  .card img {
    margin-top: -2.5rem;
  }
  